fastapi==0.104.1
uvicorn==0.24.0
pydantic==2.4.2
torch
torchvision
numpy==1.24.4
opencv-python-headless
Pillow
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pillow_heif
python-multipart==0.0.6
imagehash
moviepy==1.0.3
imageio
imageio-ffmpeg
decorator
tqdm
efficientnet_pytorch==0.7.1
